.codewiki-button.btn-sm.btn.BtnGroup-item {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  padding: 3px 12px;
  gap: 8px;
}

.codewiki-button .octicon {
  display: inline-flex;
  align-items: center;
}

.codewiki-button .octicon img {
  display: block;
  vertical-align: text-bottom;
}
